<div class="page-title">Autocomplete Input</div>

<div class="container">
  <div class="custom-input">
    <app-autocomplete
      [label]="'Usuário'"
      [placeholder]="'Selecione ou escreva o nome de um usuário:'"
      [itemList]="items"
      [autoCompleteItemLimit]="10"
      (onSelectItem)="setSelectedItem($event)"
    ></app-autocomplete>
  </div>

  <div class="result">
    <p>
      <b>Usuário (item) selecionado:</b> {{ selectedItem }}
    </p>
    <p *ngIf="isFiltering">FILTRANDO</p>
  </div>
</div>
